body{
    background-color: black;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    font-weight: 900;
}
.header{
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: black;
    font-size: xx-large;
    font-family: "Open Sans", sans-serif;
    color: white;
    max-width: 100%;
    max-height: 100%;}

#main_photo_home{   
    background-size: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 80px;  
    /* whynowork */
} 
#visited{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;

}
#visited:hover{background-image:none;
    background-color:white;
    color: black;}

#unvisited{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}
#unvisited:hover{background-image:none;
    background-color:white;
    color: black;}

#bucketlist{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}
#bucketlist:hover{background-image:none;
    background-color:white;
    color: black;}
#stories{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}
#stories:hover{background-image:none;
    background-color:white;
    color: black;}
#gallery{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}
#gallery:hover{background-image:none;
    background-color:white;
    color: black;}
/* 
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
    max-width: 100%;
     max-height: 100%;
     
} 